{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% load staticfiles %}

<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">{% trans "Успешная активация аккаунта." %}</h2>
        <img src="{% static 'crm/check-true.jpg' %}">
        <p style="font-size:20px;color:#5C5C5C;">{% trans "Для начала работы войдите в систему." %}.</p>
        <a href="/" class="btn btn-success">   {% trans "Войти" %}      </a>
    <br><br>
        </div>

	</div>
</div>

{% endblock %}
