{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block content %}


<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
    <div class="row main">
        <div class="panel-heading">
           <div class="panel-title text-center">
                <h2 class="title">{% trans "Новый менеджер по продажам" %}</h2>
                <hr id='hrreg' />
            </div>
        </div>

        <div class="main-login main-center-spnew">

            <form class="form-horizontal" method="POST" action="">{% csrf_token %}

                {{ form|bootstrap_horizontal }}

                <div class="form-group ">
                      <button class="btn btn-primary btn-lg btn-block login-button" type="submit" >{%trans 'Создать' %}</button>
					  <input type="hidden" name="next" value="{{ next }}" />
                </div>

                {% if form.errors %}
						<div class="errorlist">
							<p>{% trans "Что-то пошло не так" %}</p>
						</div>
                {% endif %}
            </form>

        </div>
    </div>
</div>

{% endblock %}