{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
{% csrf_token %}
 <p class="content">
 	{{ sales_person.first_name }}
     {{ sales_person.second_name }}
     {{ sales_person.phone_number }}
     {{ sales_person.division }}
     {{ sales_person.email_address}}

     {% if sales_person.avatar %}
        <!--model.ImageFile.url специальное поле, указывающее на URL -->
        <img src="{{ sales_person.avatar.url}}" alt="{% trans 'Менеджер по продажам.' %}" class="img-circle">
     {% endif %}

 </p>

{% endblock %}