{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% load staticfiles %}

<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">{% trans "Мы послали на Ваш E-mail пиьмо с инструкциями для сброса пароля" %}</h2>
        <img src="{% static 'crm/check-true.jpg' %}">
        <p style="font-size:20px;color:#5C5C5C;">{% trans "Для подтверждени сброса пароля просто перейдите по ссылке в письме" %}</p>
        </div>

	</div>
</div>

{% endblock %}
