{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load bootstrap %}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
    <div class="row main">
        <div class="panel-heading">
           <div class="panel-title text-center">
                <h2 class="title">{% trans "Сбросить пароль" %}</h2>
                <hr id='hrreg' />
            </div>
        </div>
        <div class="main-login main-center-login">

            <form class="form-horizontal" method="POST" action="">{% csrf_token %}

                   {{ form|bootstrap }}

                  <div class="form-group ">
                      <button class="btn btn-primary btn-lg btn-block login-button" type="submit" >{%trans 'Сбросить' %}</button>
					  <input type="hidden" name="next" value="{{ next }}" />
                  </div>

					{% if form.errors %}
						<div class="errorlist">
							<p>{% trans "Ошибочный E-mail" %}</p>
						</div>

					{% endif %}

					{% if next %}
						{% if user.is_authenticated %}
							<p>{% trans "Ваш аккаунт не имеет прав для запрашиваемого действия" %}</p>
						{% else %}
							<p>{% trans "Для просмотра надо зайти в систему" %}</p>
						{% endif %}
					{% endif %}
                </form>

            {% if messages %}
                        <p>&nbsp;</p>
                        <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                        </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
