{% extends "base.html" %}
{% load i18n %}
{% block content %}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
    <div class="row main">
        <div class="panel-heading">
           <div class="panel-title text-center">
                <h2 class="title">{% trans "Новый пользователь" %}</h2>
                <hr id='hrreg' />
            </div>
        </div>
        <div class="main-login main-center">

<!-- What is important to notice here is that the form has "enctype" of enctype="multipart/form-data" which is necessary for the file upload. -->

            <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="">{% csrf_token %}


                {{ form.as_p }}
                <p>&nbsp;</p>

                  <div class="form-group ">
                      <button class="btn btn-primary btn-lg btn-block login-button" type="submit" >{%trans 'Зарегистрироваться' %}</button>
                  </div>

                </form>

                <div class="login-register">
                    <a href="/accounts/login/">{% trans 'Войти'%}</a>
                 </div>
        </div>
    </div>
</div>
<p>&nbsp;&nbsp;</p>
{% endblock %}