<!DOCTYPE html>

{% load staticfiles %}
{% load i18n %}

<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>sCRM</title>

  <!-- Bootstrap -->
    <link href="{% static 'crm/bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'crm/login_register_page.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    <link href="{% static 'crm/style.css' %}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'crm/bootstrap3/js/bootstrap.min.js' %}"></script>
        {{ form.media }}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->


    <body>
        {% include "top_menu.html" %}

      <div class="content">
          <div class="container">
              <div id="funnel"></div>

                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script src="{% static 'crm/d3-funnel.js' %}"></script>


              <script>
                    const data = [
                        ['Plants',     5000],
                        ['Flowers',    2500],
                        ['Perennials', 200],
                        ['Roses',      50],
                    ];


                    const chart = new D3Funnel('#funnel');
var options = {
  chart: {
    width: 200,
    height: 100
  }
};
                    chart.draw(data,options);
            </script>

          </div>

        {% block content %}

        {% endblock %}

      </div>

    </body>
</html>
