{% load staticfiles %}
{% load i18n %}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href=# >djangoCRM2</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
              <span class="sr-only"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="responsive-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Отчеты" %}<b class="caret"></b></a>
                     <ul class="dropdown-menu">
                      <li><a href="{% url 'reportfunnel' %}">{% trans "Воронка продаж" %}</a></li>
                      <li><a href="{% url 'reportsp' %}">{% trans "Продажи менеджеров" %}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Контракты" %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                          <li><a href="{% url 'deals' %}">{% trans "Список контрактов" %}</a></li>
                          <li><a href="{% url 'deal_new' %}">{% trans "Добавить контракт" %}</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url 'dealsfilters' %}">{% trans "Список контрактов с фильтрами" %}</a></li>
                          <li><a href="{% url 'dealstoday' %}">{% trans "Контракты за сегодня" %}</a></li>
                          <li><a href="{% url 'dealsmonth' %}">{% trans "Контракты за текущий месяц" %}</a></li>
                          <li><a href="{% url 'dealsyear' %}">{% trans "Контракты за текущий год" %}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >{% trans "Клиенты" %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'customers' %}">{% trans "Список клиентов" %}</a></li>
                        <li><a href="{% url 'customer_new' %}">{% trans "Добавить нового" %}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Дела" %}<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="{% url 'todos' %}">{% trans "Список дел" %}</a></li>
                          <li><a href="{% url 'todo_new' %}">{% trans "Добавить дело" %}</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url 'todosfilters' %}">{% trans "Список дел с фильтрами" %}</a></li>
                          <li><a href="{% url 'todostoday' %}">{% trans "Дела за сегодня" %}</a></li>
                          <li><a href="{% url 'todosmonth' %}">{% trans "Дела за текущий месяц" %}</a></li>
                          <li><a href="{% url 'todosyear' %}">{% trans "Дела за текущий год" %}</a></li>
                      </ul>
                </li>

                 <li class="dropdown">
                  <a href="{% url 'products' %}" class="dropdown-toggle" data-toggle="dropdown">{% trans "Продукты" %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'products' %}">{% trans "Список продуктов" %}</a></li>
                      <li><a href="{% url 'product_new' %}">{% trans "Добавить продукт" %}</a></li>
                    </ul>
                </li>

                 <li class="dropdown">
                  <a href="{% url 'salespersons' %}" class="dropdown-toggle" data-toggle="dropdown">{% trans "Менеджеры по продажам" %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'salespersons' %}">{% trans "Список менеджеров" %}</a></li>
                      <li><a href="{% url 'salesperson_new' %}">{% trans "Добавить нового" %}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Сервис" %}<b class="caret"></b></a>
                       <ul class="dropdown-menu">
                          <li><a href="{% url 'userlist' %}">{% trans "Список пользователей" %}</a></li>
                          <li><a href="{% url 'register' %}">{% trans "Добавить нового" %}</a></li>
                          <li class="divider"></li>
                           <li><a href="{% url 'login' %}">{% trans "Зайти в систему" %}</a></li>
                           <li><a href="{% url 'logout' %}">{% trans "Выйти из системы" %}</a></li>
                           <li class="divider"></li>
                          <li><a href="{% url 'auth_password_change' %}">{% trans "Сменить пароль" %}</a></li>
                          <li><a href="{% url 'auth_password_reset' %}">{% trans "Сбросить пароль" %}</a></li>
                           <li class="divider"></li>
                           <li><a href="https://djangocrm2.readthedocs.io/">{% trans "Документация" %}</a></li>
                        </ul>
                </li>

            </ul>

            <div class="navbar-text navbar-right" >
                {% if request.user.username %}
                    {% trans "Вы зашли как," %}<strong>{{request.user.username}}  </strong>
                    <a href="{% url 'logout' %}" class="navbar-link"> &nbsp;{% trans "Выход" %}&nbsp;</a>
                {% else %}
                    <a href="{% url 'login' %}" class="navbar-link"> &nbsp;{% trans "Войти" %}&nbsp;</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>
</div>